@{
    ViewBag.Title = "InvestorMainView";
}

    <script src="/Scripts/jquery-1.9.1.js"></script>
    <script src="/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/js/assets/google-analytics.js"></script>
    <script src="/js/assets/jquery.mousewheel.min.js"></script>
    <script src="/js/assets/github.info.js"></script>
    <script src="/js/modern/tile-slider.js"></script>
    <script src="/js/modern/start-menu.js"></script>
    <script src="/js/modern/tile-drag.js"></script>

<div class="page-region-content tiles">
    <div class="tile-group tile-drag">
                    

        <div class="tile triple  bg-color-orangeDark">
            <div class="tile-content">
                <h2>Mails</h2>
                <h5>Your Mails</h5>
                <p>
                    Let em eat Spam.                        
                </p>
            </div>

            <div class="brand">
                <div class="badge"></div>
                <span class="name">Mail</span>
            </div>
        </div>         
           
         <div class="tile triple bg-color-green">
            <div class="tile-content">
                <h2>Settings</h2>
                <h5>Your personal details and stuff</h5>
                            
            </div>

            <div class="brand">
                <div class="badge"></div>
                <span class="name">Mail</span>
            </div>
        </div>   

    </div>
    

    
    <div class="tile-group tile-drag">
                    

     <div class="tile triple bg-color-red">
            <div class="tile-content">
                <h2>Investment tiles</h2>
                <h5>Watch graph and jazzy stuff</h5>
                <p class="icon-briefcase"> Red color is to give an ominous feel :)s</p>
            </div>

            <div class="brand">
                <div class="badge"></div>
                <span class="name">Mail</span>
            </div>
        </div>    
        
     <div class="tile triple bg-color-blue">
            <div class="tile-content">
                <h2>Who is what?</h2>
                <h5>Current organisation structure</h5>
                            
            </div>

            <div class="brand">
                <div class="badge"></div>
                <span class="name">Org Structure</span>
            </div>
        </div>            
           

    </div>
    

</div>