@model DataLayer.Models.ForgotPasswordModel
@{
    ViewBag.Title = "PasswordReset";
}

<div class="page-region-content fg-color-white">
       <section id="login-form">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) 
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            
                        <p>Enter your registered Email address</p>
                        
                        @Html.TextBoxFor(m => m.EmailAddress)
                        @Html.ValidationMessageFor(m => m.EmailAddress)
                        
                        <br>
                        <input type="submit" id="submit-button" value="Reset" />
                       
        }
    </section> 
</div>