@{
    ViewBag.Title = "PasswordResetConfirmation";
}

<div class="page-region-content fg-color-white">
    <p>We have sent a link to your registered email to reset your password.</p>
    <br>
    @Html.ActionLink("Home", "Index", "Home")
</div>
