@using Microsoft.Web.Helpers
@{
    ViewBag.Title = "ProductsDashBoard";
}
<script type="text/javascript" src="/html5gallery/html5gallery.js"></script>


<div class="page-region-content text">
<table>
    <tr>
        <td style="border: 0px;width: 300px">
            <h3 class="fg-color-white">Bhrajas Skylights – Let’s bring the day inside.</h3>
            <br>
            <div style="display:none;" class="html5gallery" data-skin="darkness" data-width="480" data-height="272" data-showsocialmedia="false">
	            <!-- Add images to Gallery -->
                <a href="/Gallery/Large/Bhajras/1.jpg"><img src="/Gallery/Bhajras/1.jpg" alt="Bhajras"></a>
                <a href="/Gallery/Large/Bhajras/2.jpg"><img src="/Gallery/Bhajras/2.jpg" alt="Bhajras"></a>       
                <!-- Add videos to Gallery -->
                <!-- Add Youtube video to Gallery -->
                <a href="http://www.youtube.com/watch?v=JXRgZ8IkEhU"><img src="/Gallery/Bhajras/4.jpg" alt="Video"></a>
        
                <a href="/Gallery/Large/Bhajras/3.jpg"><img src="/Gallery/Bhajras/3.jpg" alt="Bhajras"></a>           
                <!-- Add Vimeo video to Gallery -->
                <a href="http://www.youtube.com/watch?v=AtIth_g6RmU"><img src="/Gallery/Bhajras/4.jpg" alt="Video"></a>
                
                <a href="/Gallery/Pamplet/Flyer.jpg"><img src="/Gallery/Pamplet/Flyer.jpg" alt="Flyer"></a>
            </div>
        </td>
        <td style="border: 0px; float: left;padding-top: 100px;padding-left: 300px;">
            <div>
                <p class="fg-color-white">Description goes here </p>
            </div>
        </td>
    </tr>
</table>
    </div>
