@{
    ViewBag.Title = "About";
}

<div class="metrouicss">

        <div class="page-region-content fg-color-white">
            <article>
                <p>
                 Located in the beautiful city of Bengaluru, Navasthala is a company which is engaged in research and innovation that challenges and breaks norms. <br>
                 The products developed are certain to impact people's lives and revolutionize the way they look at the world.
                 One such product is the Bhrajas Skylight.<br>
                 This product seeks to end all expenses for daytime indoor lighting by utilizing the sun to brighten up interior space.<br> 
                 Beside being a cost savor , it will also opens up endless possibilities for its users.<br>
                 We are always on the lookout for a diverse and well balanced team, so if your interested please do <a href="~/Home/Contact">send us your details.
                </p>
            </article>
        </div>
        </div>
