@{
    ViewBag.Title = "About";
}

<div class="metrouicss">

        <div class="page-region-content fg-color-white">
            <article>
                <p>
                 Description about Navasthala
                </p>
            </article>
        </div>
        </div>
