@{
    ViewBag.Title = "AdminView";
}

<div class="page-region-content tiles" id="content">
    
    <div class="tile-group tile-drag">
        <div class="tile icon bg-color-blue">
            <div class="tile-content">
                <img src="/images/newsletter.png"/>
            </div>
            <div class="brand">
                <div class="name">Send NewsLetter's</div>
            </div>
        </div>
    </div>
    
    <div class="tile-group tile-drag">
        <div class="tile icon  bg-color-green">
            <div class="tile-content">
                <img src="/images/manageinvestor.jpg"/>
            </div>
            <div class="brand">
                <div class="name">Manage Investor's</div>
            </div>
        </div>
    </div>
    
    <div class="tile-group tile-drag">
        <div class="tile icon bg-color-orange">
            <div class="tile-content">
                <img src="/images/adduser.png"/>
            </div>
            <div class="brand">
                <div class="name">Add user</div>
            </div>
        </div>
    </div>
    
    <div class="tile-group tile-drag">
    <div class="tile icon">
        <div class="tile-content">
            <img src="/images/deleteuser.png"/>
        </div>
        <div class="brand">
            <div class="name">Block user</div>
        </div>
    </div>
    </div>
</div>