@{
    ViewBag.Title = "ContactConfirmation";
}

<div class="page-region-content text fg-color-white">
<hgroup class="title fg-color-white">
    <h2 class="fg-color-white">Thanks for registering your interest.</h2>
    <h2 class="fg-color-white">We will contact you at the earliest</h2>
    </hgroup>

</div>