@{
    ViewBag.Title = "Navasthala Innovations";
}

<script type="text/javascript">
        $(function () {
            $('#About').mouseup(function () {

                window.location.href = "@Url.Action("About","Home")";
            });

            $('#Contact').mouseup(function () {

                window.location.href = "@Url.Action("Contact","Home")";
            });
            
            $('#Investor').mouseup(function () {

                window.location.href = "@Url.Action("Index","Investor")";
                        });
        });
        
    </script>


<div class="page-region-content tiles">
                <div class="tile-group tile-drag" style="width:auto;max-width:644px;">

                    <div class="tile image" id="About">
                        <div class="tile-content">
                            <img src="/images/about-us.jpg" alt="">
                        </div>
                    </div>
            
                    <div class="tile" id="Contact">
                        <div class="tile-content bg-color-blue">
                            <h5>Contact us</h5>
                            <p>
                                Please leave your details.
                            </p>
                        </div>
                        <div class="brand">
                            <div class="badge"></div>
                            <span class="name">contact@navasthala.com</span>
                        </div>
                    </div>

                    <div class="tile double  bg-color-green" data-role="tile-slider" data-param-period="4000" data-param-direction="right">
                        <div class="tile-content">
                            <h2>Appi</h2>
                            <h5>Navathala rocks.</h5>
                            <p>
                                Finished our prototype code named X2.                        
                            </p>
                        </div>

                        <div class="tile-content">
                            <h2>Vidhu</h2>
                            <h5>Graphically motivated</h5>
                            <p>
                                Looking for more Logos.
                            </p>
                        </div>

                        <div class="tile-content">
                            <h2>Vikram</h2>
                            <h5>I run the show</h5>
                            <p>I'm CEO, Bitch.</p>
                        </div>

                        <div class="tile-content">
                            <h2>Rajeev</h2>
                            <h5>I Know all your passwords</h5>
                            <p>Buhaaaa</p>
                        </div>
                        <div class="brand">
                            <div class="badge"></div>
                            <span class="name">Blog</span>
                        </div>
                    </div>

                    <div class="tile double image-slider" data-role="tile-slider" data-param-period="5000" data-param-direction="down">
                        <div class="tile-content">
                            <img src="/images/Image1.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/images/Image2.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/images/Image3.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/images/Image4.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/images/Image5.jpg" alt="">
                        </div>
                        <div class="brand">
                            <div class="badge"></div>
                            <span class="name">Gallery</span>
                        </div>
                    </div>


                </div>
                
                <div class="tile-group tile-drag">
                    
                    <div class="tile double  bg-color-yellow" id="Investor">
                        <div class="tile-content fg-color-blueDark">
                            <h2>Investors Dashboard</h2>
                            <h5>Together, we grow</h5>
                            <p>
                                click for more details.                        
                            </p>
                        </div>

                        <div class="brand">
                            <div class="badge"></div>
                            <span class="name">Manage your Investment</span>
                        </div>
                    </div>

                    <div class="tile double  bg-color-orangeDark">
                        <div class="tile-content fg-color-blueDark">
                            <h2>Products</h2>
                            <h5>Innovation at it's best</h5>
                            <p>
                                View all our products.                        
                            </p>
                        </div>

                        <div class="brand">
                            <div class="badge"></div>
                            <span class="name">Products</span>
                        </div>
                    </div>         
                    
                    <div class="tile double bg-color-blue">
                        <div class="tile-content fg-color-blueDark">
                            <h2>Roadmap</h2>
                            <h5>Upcoming projects</h5>
                            <p>
                                Where do we go from here.                        
                            </p>
                        </div>

                        <div class="brand">
                            <div class="badge"></div>
                            <span class="name">Drawing room.</span>
                        </div>
                    </div>                    
           

                </div>
                
                <div class="tile-group tile-drag">
                    
        <div class="tile double triple-vertical  bg-color-grayDark">
            <div class="tile-content">
                <h5>This space can be used as well.</h5>
                <p>Link up with a live feed or something</p>
                <p>Customers?</p>
                <p>Feedbacks?</p>
                <p>About the board?</p>
                <p>Advertisement?</p>
                <p>Mylo?</p>
            </div>
                        

            <div class="brand">
                <div class="badge"></div>
                <span class="name">Coming soon.</span>
            </div>
        </div>

    </div>

</div>
            

