@{
    ViewBag.Title = "UnAuthorisedView";
}

<div class="page-region-content">
    <h3 class="fg-color-white">@User.Identity.Name,You dont have the permission to view this content.</h3>
    <h5 class="icon-blocked  fg-color-white"> Further queries : contact@navasthala.com </h5>
</div>