@{
    ViewBag.Title = "UnAuthorisedView";
}

<div class="page-region-content">
    <h3 class="fg-color-white">I know it sucks to be you, @User.Identity.Name</h3>
    <h5 class="icon-blocked  fg-color-white"> But, what you trying to snoop is protected </h5>
</div>