@{
    ViewBag.Title = "AdminView";
 }

    <script src="/Scripts/jquery-1.9.1.js"></script>
    <script src="/Scripts/jquery-ui-1.8.20.js"></script> 
    <script src="~/js/assets/google-analytics.js"></script>
    <script src="/js/assets/jquery.mousewheel.min.js"></script>
    <script src="/js/assets/github.info.js"></script>
    <script src="/js/modern/tile-slider.js"></script>
    <script src="/js/modern/start-menu.js"></script>
    <script src="/js/modern/tile-drag.js"></script>
<script type="text/javascript">
        $(function ()
        {
            $('#Investor').mousedown(function (e) {
                e.stopPropagation();
                $('.page-region-content').hide("fade", 500, function () {

                    window.location.href = "@Url.Action("Investors","Admin")";
                });
            });
            
            $('#Manage').mousedown(function (e) {
                e.stopPropagation();
                $('.page-region-content').hide("fade", 500, function () {

                    window.location.href = "@Url.Action("ManageUsers","Admin")";
                });
            });
            
            $('#EOI').mousedown(function (e) {
                e.stopPropagation();
                $('.page-region-content').hide("fade", 500, function () {

                    window.location.href = "@Url.Action("ExpressionOfInterest","Admin")";
                });
                        });
            
        });
    </script>

<div class="page-region-content tiles" id="content">
    
    <div class="tile-group tile-drag">
        <div class="tile icon bg-color-blue">
            <div class="tile-content">
                <img src="/images/newsletter.png"/>
            </div>
            <div class="brand">
                <div class="name">Send NewsLetter's</div>
            </div>
        </div>
    </div>
    
    <div class="tile-group tile-drag" id="Investor">
        <div class="tile icon  bg-color-green">
            <div class="tile-content">
                <img src="/images/manageinvestor.jpg"/>
            </div>
            <div class="brand">
                <div class="name">Manage Investor's</div>
            </div>
        </div>
    </div>
    
    <div class="tile-group tile-drag" id="Manage">
        <div class="tile icon bg-color-orange">
            <div class="tile-content">
                <img src="/images/adduser.png"/>
            </div>
            <div class="brand">
                <div class="name">Manage user</div>
            </div>
        </div>
    </div>

    <div class="tile-group tile-drag" id="EOI">
        <div class="tile icon bg-color-blue">
            <div class="tile-content">
                <img src="/images/EOI.jpg"/>
            </div>
            <div class="brand">
                <div class="name">Expression of Interests</div>
            </div>
        </div>
    </div>

    
</div>